<html>
	<head>
		<title>Game: <% data.id %></title>
		<link rel="shortcut icon" href="icon.png"/>
		<link type="text/css" rel="stylesheet" href="game_stylesheet.css"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="game_script.js"></script>
		<script>window.turn = <% data.state.turn %>;</script>
	</head>
	<body>
		<div id="message"><% data.message["player_" + data.viewer] %></div>
		<div id="board" game-id="<% data.id %>" turn="<% data.state.turn %>" round="<% data.state.round %>" player="<% data.viewer %>"><% game.drawBoard(data) %></div>
	</body>
</html>