<!DOCTYPE html>
<html>
	<head>
		<title>Diamond Checkers</title>
		<link rel="shortcut icon" href="icon.png"/>
		<link type="text/css" rel="stylesheet" href="index_stylesheet.css"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="index_script.js"></script>
	</head>
	<body>
		<div id="message"><% data.message %></div>
		<form id="game_form" method="post" action="">
			<div id="title">diamond<span id="title_spacer"></span>checkers</div>
			<button id="start" type="submit" name="start"><div id="start_inner">start</div></button>
			<div id="join"><div id="join_inner">join</div></div>
			<div id="join_2"><input id="game_id" type="text" name="game_id" placeholder="game_id"/></div>
		</form>
		<div id="diamond"></div>
		<a id="j-logo" href="https://jamesmayr.com" target="_blank"></a>
	</body>
</html>