<html>
	<head>
		<title>new game</title>
		<!--<link rel="shortcut icon" href="#"/>-->
		<link type="text/css" rel="stylesheet" href="index_stylesheet.css"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="index_script.js"></script>
	</head>
	<body>
		<div id="message"><% data.message %></div>
		<form id="game_form" method="post" action="">
			<div id="game_form_inner">
				<div id="title">diamond<span id="title_spacer"></span>checkers</div>
				<div id="join"><div id="join_inner">join</div></div>
				<div id="join_2"><input id="game_id" type="text" name="game_id" placeholder="game_id"/></div>
				<button id="start" type="submit" name="start"><div id="start_inner">start</div></button>
			</div>			
		</form>
	</body>
</html>