/* colors */
	:root {
		--white:#eeeeee;
		--black:#333333;
		--blue:#0099ff;
		--red:#ff5050;
		--dark-blue:#004d80;
		--dark-red:#660000;
	}

/* page */
	body {
		background-color: #222222;
		font-size: 4vh;
		font-family: arial, sans-serif;
		font-weight: bold;
		color: var(--white);
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}

	#message {
		position: absolute;
		top: 0px;
		left: 0px;
		margin: 10px;
		font-size: 4vh;
		font-family: arial, sans-serif;
		font-weight: bold;
		color: var(--white);
		max-width: 45vw;
	}

	#newgame_id {
		display: inline-block;
	}

	#again {
		color: var(--blue);
		text-decoration: none;
	}

	#again:hover {
		text-decoration: underline;
	}

/* game board */
	#board {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 65vw;
		width: 65vw;
		max-height: 65vh;
		max-width: 65vh;
		border: 10px solid var(--black);
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		border-radius: 10px;
		background-color: var(--black);
	}

	#board[player="0"] {
		box-shadow: 0px 0px 30px var(--white);
	}

	#board[player="1"] {
		box-shadow: 0px 0px 30px var(--blue);
	}

	#board[player="2"] {
		box-shadow: 0px 0px 30px var(--red);
	}

	.row {
		float: left;
		width: 100%;
		height: 20%;
	}

	.square {
		float: left;
		width: calc(20% - 10px);
		height: calc(100% - 10px);
		border-radius: 3px;
	}

	.square[color=white] {
		background-color: var(--white);
		border: 5px solid var(--white);
	}

	.square[color=black] {
		background-color: var(--black);
		border: 5px solid var(--black);
	}

	.square[color=blue] {
		background-color: var(--blue);
		border: 5px solid var(--blue);
	}

	.square[color=red] {
		background-color: var(--red);
		border: 5px solid var(--red);
	}

/* pieces */
	.piece {
		position: relative;
		border-radius: 100%;
		height: 50%;
		width: 50%;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		cursor: not-allowed;
	}

	.piece[player=player_1] {
		background-color: var(--blue);
	}

	.piece[player=player_2] {
		background-color: var(--red);
	}

/* states */
	.selectable {
		cursor: pointer;
	}

	.selected[player=player_1] {
		border: 5px solid var(--dark-blue);
		box-shadow: 0px 0px 10px var(--blue);
	}

	.selected[player=player_2] {
		border: 5px solid var(--dark-red);
		box-shadow: 0px 0px 10px var(--red);
	}

	.legal[player=player_1] {
		border: 5px solid var(--dark-blue);
		cursor: pointer;
	}

	.legal[player=player_2] {
		border: 5px solid var(--dark-red);
		cursor: pointer;
	}

	.highlighted[player=player_1] {
		box-shadow: 0px 0px 20px var(--blue);
	}

	.highlighted[player=player_2] {
		box-shadow: 0px 0px 20px var(--red);
	}
